<launch>
  <!-- Spawn Jackal at top of the ramp (ramp_10 = (18.74, -11.55), facing west) -->
  <include file="$(find me5413_world)/launch/world.launch">
    <arg name="spawn_x"   value="18.9"/>
    <arg name="spawn_y"   value="-11.55"/>
    <arg name="spawn_z"   value="2.6"/>
    <arg name="spawn_yaw" value="0.0"/>
  </include>
</launch>
